<body class="homepage">
<div id="page-wrapper">
  <!-- Header -->
  <div id="header">
    <!-- Inner -->
    <div class="inner">
      <header>
        <img src="/images/main.png" id="maimPhoto" class="animated zoomInDown"/>
        <hr class="animated fadeInUp" />
        <p class="animated fadeInUp" >Свежая рыба. Всегда.</p>
      </header>
      <footer>
        <a href="#bannerNew" class="button circled scrolly animated fadeInUp">Вперед</a>
      </footer>
    </div>
    <nav id="nav">
      <ul>
        <li><%= link_to 'Главная', root_url %></li>
        <li><%= link_to 'Ассортимент', range_url + '#/info' %></li>
        <li><%= link_to 'О компании', about_url %></li>
        <li><%= link_to 'Контакты', contact_url %></li>
        <% if user_signed_in? %>
          <li><%= link_to 'Панель администратора', admin_url %></li>
        <% end %>
      </ul>
    </nav>
  </div>
