<body class="no-sidebar">
<div id="page-wrapper">
  <!-- Header -->
  <div id="header">
    <!-- Inner -->
    <div class="inner">
      <header>
        <h1 class="animated zoomIn"><a href="/" id="logo">salmon.su</a></h1>
      </header>
    </div>
    <nav id="nav">
      <ul>
        <li><%= link_to 'Главная', root_url %></li>
        <li><%= link_to 'Ассортимент', range_url + '#/info' %></li>
        <li><%= link_to 'О компании', about_url %></li>
        <li><%= link_to 'Контакты', contact_url %></li>
        <% if user_signed_in? %>
          <li><%= link_to 'Панель администратора', admin_url %></li>
        <% end %>
      </ul>
    </nav>
  </div>
